@model TMXN.Web.ViewModels.News.NewsViewModel

@{
    this.ViewData["Title"] = "Details";
}

<h1>@this.ViewData["Title"]</h1>


<div class="media m-4">
    <img class="mr-3" src="@Model.ImageUrl" width="500" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">@Model.Title</h5>
        @Model.Content
    </div>

</div>