
@model TMXN.Web.ViewModels.Teams.TeamViewModel
@using Microsoft.AspNetCore.Identity
@using TMXN.Data.Models
@inject UserManager<ApplicationUser> userManager


@{string userId = userManager.GetUserId(this.User);}


<div class="card mr-3" style="width: 15rem;">
    <img class="card-img-top" src="@Model.Logo" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h2 class="card-title">@Model.Tag</h2>



        @if (Model.ApplicationUsers.Any(x => x.Id == userId))
        {
            <a href="/Teams/Leave?teamId=@Model.Id" type="button" class="btn btn-primary center-block">Leave!</a>
        }
        else
        {
            <a href="/Teams/Join?teamId=@Model.Id" type="button" class="btn btn-primary center-block">Join us!</a>
        }
        <a href="/Teams/TeamInfo?teamId=@Model.Id" type="button" class="btn btn-primary center-block">Info!</a>



    </div>
</div>