@model TMXN.Web.ViewModels.Users.FriendlistListViewModel;


@{
    this.ViewData["Title"] = "Your friends";
    this.ViewData["NoFriendsTitle"] = "You haven't added any friends!";
}



@if (Model.Friendlists.Count() == 0)
{
    <h1>@this.ViewData["NoFriendsTitle"]</h1>
}
else
{

    @foreach (var friendlist in Model.Friendlists)
    {
        <h1>@this.ViewData["Title"]</h1>
        <li class="list-group-item list-group-item-primary">@friendlist.UserName</li>

    }
}