

<div class="alert alert-success" role="alert">
    You successfully removed a player from your friendlist!
</div>

<div>
    <a asp-controller="Users" asp-action="AllFriends" type="button" class="btn btn-primary center-block btn-sm">Back to your friendlist</a>
</div>