@model TMXN.Web.ViewModels.Teams.ListingTeamsByYearOfCreationViewModel



    <div class="h-50 d-inline-block" style="width: 220px; background-color: rgba(0,0,255,.1)">
        Top teams
        @foreach (var team in this.Model.Teams)
        {

            <ul class="list-group list-group-flush">                                                                                                                        
                
                <li class="list-group-item"><a asp-controller="Teams" asp-action="TeamInfo" asp-route-id="@team.Id"><img src="@team.Logo" alt="Responsive image" class="img-fluid" width="30">  @team.Name</a><br><span class="badge badge-primary">@team.Points Points</span></li>

            </ul>


        }
    </div>