<div class="alert alert-success" role="alert">
    Successfully removed this team!
</div>

<div>
    <a asp-controller="Teams" asp-action="ShowAll" type="button" class="btn btn-primary">Back to teams page</a>
</div>