
@model TMXN.Web.ViewModels.News.NewsFeedsListViewModel

@using TMXN.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@{ int counter = 0;}

    <div class="text-center">

        <h1 class="display-4">@GlobalConstants.NewsFeeds!</h1>

        <div class="card-columns">

            <div class="list-group-horizontal-md d-inline-block" style="width: 220px; background-color: rgba(0,0,255,.1)">

                <vc:tournament></vc:tournament>
                <br>
                <div><a class="nav-link text-dark" asp-area="" asp-controller="Tournaments" asp-action="GetAll">Get involved in!</a></div>
            </div>


            <div class="list-group-horizontal-md d-md-block" style="width: 220px; background-color: rgba(0,0,255,.1)">

                <vc:team></vc:team>


            </div>

            <div class="list-group-horizontal-md d-md-block" style="width: 220px; background-color: rgba(0,0,255,.1)">

                <vc:award></vc:award>


            </div>
        </div>
        <hr>


        <div class="row">
            @foreach (var news in this.Model.News)
            {
                <div class="card mr-4" style="width: 18rem;">
                    <img class="card-img-top" src="@news.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@news.Title</h5>

                        <a asp-controller="News" asp-action="Info" asp-route-id="@news.Id" class="btn btn-primary center-block">Info</a>

                    </div>
                </div>
            }



        </div>

        @*//carousel*@

        
      