
@model TMXN.Web.ViewModels.Awards.AwardListViewModel
@using Microsoft.AspNetCore.Identity
@using TMXN.Data.Models

@inject UserManager<ApplicationUser> userManager
@{
    this.ViewData["Title"] = "Awards";
}

@{var currentUser = await this.userManager.GetUserAsync(this.User); }
    <h1 class="display-4"><span class="badge badge-info">@this.ViewData["Title"]</span></h1>


<div class="row">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Award Name</th>
                <th scope="col">Placing Type</th>

                            
            </tr>
        </thead>

       
        <tbody>
            @foreach (var award in Model.Awards)
            {
            <tr>

                <td>@award.Name</td>
                <td>@award.PlacingType</td>



                
               
            </tr>
            }
            </tbody>
        



    </table>

</div>



