@model TMXN.Data.Common.InputModels.Awards.AwardInputModel

@using TMXN.Data.Common.InputModels.Enums

<form asp-controller="Teams" asp-action="Add">
    <div class="form-group">
        <label for="name">Award Name:</label>
        <input asp-for="Name" type="name" class="form-control" id="name">
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="PlacingType">Place:</label>
        <select asp-for="PlacingType" class="form-control" asp-items="@Html.GetEnumSelectList<PlacingType>()"></select>
        <span asp-validation-for="PlacingType"></span>
       
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Create!</button>
        </div>

</form>