

<li class="list-group-item">
    <a asp-area="Administration" asp-controller="Awards" asp-action="GetAll">Awards</a>
</li>

<li class="list-group-item">
    <a asp-area="Administration" asp-controller="Teams" asp-action="ShowAll">Teams</a>
</li>

<li class="list-group-item">
    <a asp-area="Administration" asp-controller="Tournaments" asp-action="GetAll">Tournaments</a>
</li>

<li class="list-group-item">
    <a asp-area="Administration" asp-controller="Brackets" asp-action="All">Brackets</a>

</li>

<li class="list-group-item">
    <a asp-area="Administration" asp-controller="Teams" asp-action="Ranklist">Ranklist</a>

</li>

<li class="list-group-item">
    <a asp-area="Administration" asp-controller="News" asp-action="All">News</a>

</li>