
@model TMXN.Web.ViewModels.Brackets.BracketDropdownViewModel
@using TMXN.Web.ViewModels.Teams



<form asp-controller="Brackets" asp-action="Create" method="post">

    <div>
        <label asp-for="TournamentId">Choose a tournament:</label>
        <select asp-for="TournamentId" class="form-control" asp-items="@Model.Tournaments.Select(x => new SelectListItem(x.Name,x.Id.ToString()))"></select>

    </div>

    <div>
        <label asp-for="TeamId">Choose a team:</label>

        <select asp-for="TeamId" class="form-control" asp-items="@Model.Teams.Select(x => new SelectListItem(x.Name,x.Id))"></select>
        <div>
        <button type="submit" class="btn btn-primary">Create</button>
            </div>
    </div>

</form>