@using TMXN.Data.Common.InputModels.Enums
@model TMXN.Web.ViewModels.Tournaments.TournamentEditViewModel

<form asp-area="Administration" asp-controller="Tournaments" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name">Tournament Name:</label>
        <input asp-for="Name" type="name" class="form-control" id="name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Organizer">Organizer:</label>
        <input asp-for="Organizer" type="organizer" class="form-control" id="organizer">
        <span asp-validation-for="Organizer"></span>
    </div>
    <div>
        <label asp-for="TournamentGameType">Tournament Game Type:</label>
        <select asp-for="TournamentGameType" class="form-control" asp-items="@Html.GetEnumSelectList<TournamentGameType>()"></select>
        <button type="submit" class="btn btn-primary">Update!</button>
    </div>
</form>