
    <div class="alert alert-success" role="alert">
       Reward added to team successfully!
    </div>
    <h2><a asp-controller="Teams" asp-action="Ranklist" type="button" class="btn btn-primary center-block btn-sm">Back to ranklist</a></h2>